@{
    ViewData["Title"] = "Sehirler";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}


<h1>Sehir Sayfası</h1>

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Sehir Adi</th>
            <th>Sehir Nüfusu</th>
        </tr>

        <tr>
            <td>@ViewBag.v1</td>
            <td>@ViewBag.v2</td>
            <td>@ViewBag.v3</td>
        </tr>
    </table>
</div>